<launch>
  <arg name="record" default="false"/>

  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch"/>

  <node name="turtlebot_walker_node" pkg="turtlebot_walker" type="turtlebot_walker_node" output="screen"/>

  <node name="record" pkg="rosbag" type="record" args="--duration=35.0 -a -x /camera/(.*) -O $(find turtlebot_walker)/results/walker.bag" if="$(arg record)"/>

</launch>